<div id="<%= dom_id student %>">
  <%= student.name%><br>
  <%= student.age%><br>
  <%= student.department%><br>
  <%= student.phone_number%><br>
  <%= student.lga_of_origin%><br>
  <%= student.bio%>
</div>
