<p style="color: green"><%= notice %></p>

<h1><%= @student.name %>'s courses</h1>

<p>Below are all the courses you are offering</p>

<%= render 'student_courses' %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
