<p style="color: green"><%= notice %></p>

<h1>Courses taught by <%= @lecturer.name %></h1>

<%= render 'lecturer_courses' %>

<div>
  <%= link_to "Edit this lecturer", edit_lecturer_path(@lecturer) %> |
  <%= link_to "Back to lecturers", lecturers_path %>

  <%= button_to "Destroy this lecturer", @lecturer, method: :delete %>
</div>
